<%= turbo_frame_tag dom_id(tweet) do %>
  <div class="tweet">
    <%= content_tag :div, id: dom_id(tweet) do %>
      <%# <h1> <%= tweet.title %1> </h1> %>
      <%# <p> <font size="+2"<%= tweet.content %1></font> %>
        <p>Someone @someone - <%= time_ago_in_words(tweet.created_at) %> ago</p>

        <%= tweet.content %>
      <% end %>

      <br>
    <%= content_tag :row, id: dom_id(tweet) do %>
      <%# <h1> <%= tweet.title %1> </h1> %>
        <div class="row mt-2">
          <%= button_to "Comments (#{tweet.comments.count})", tweet_path(tweet), method: :post %>
          <%= button_to "Likes (#{tweet.like_count})", tweet_like_path(tweet), method: :post %>
          <%= button_to "Retweet (#{tweet.retweet_count})", tweet_retweet_path(tweet), method: :post %>
          <%= link_to "Edit", edit_tweet_path(tweet) %>
        </div>
      <% end %>
  </div>
<% end %>
