<p id="notice"><%= notice %></p>

<%= turbo_stream_from 'tweets' %>

<div class="container">
  <h1>Home</h1>
  <%= turbo_frame_tag 'tweet_form' do %>
    <%= render 'form', tweet: @tweet %>
  <% end %>
</div>

<%= turbo_frame_tag 'tweets' do %>
  <%= render @tweets %>
<% end %>
<br>
