<%= turbo_stream_from @tweet %>

<%= turbo_frame_tag 'tweet' do %>

  <%= render @tweet %>

  <%= link_to 'Edit', edit_tweet_path(@tweet) %> |
  <%= link_to 'Back', tweets_path, 'data-turbo-frame-tag': :_top %>
<% end %>

<div id='comments'>
  <h2>Comments</h2>
  <%= render @tweet.comments %>
</div>

<%= turbo_frame_tag 'new_comment', src: new_tweet_comment_path(@tweet), target: :_top %>
